.app {
  text-align: center;
  background-color: #f2f2f2;
}
.app ul {
  list-style-type: none;
}
.app ul li .date {
  color: gray;
  font-weight: 100;
  font-style: italic;
}
.app ul li button {
  margin-left: 20px;
}
